<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENIDOS A TNTStudios</span>
        <span id="welcomeDescription">En TNTStudios nos enfocamos en crear contenido único y original que no encontrarás en ningún otro lugar. Nos apasiona contar historias y crear experiencias que cautiven y sorprendan. Creemos en la importancia de la creatividad, la innovación y la excelencia en todo lo que hacemos. Agradecemos su apoyo y confianza en nosotros. Sin ustedes, no podríamos hacer lo que amamos. Apreciamos su lealtad y compromiso con nosotros y estamos agradecidos por cada momento en que nos han permitido ser parte de sus vidas. Esperamos seguir creando contenido que les guste y esperamos verlos en futuros proyectos...</span>
        <br>
        <span id="welcomeDescCTA">Estás a solo unos clics de vivir esta experiencia.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUAR
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>